.input-group{

    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 2px;

    label{
        font-size: 0.85rem;
        padding-left: 18px;
    }
    input {
        padding: 8px 16px;
        border-radius: 50px;
        font-size: 1.25rem;
        font-weight: thin;
    }
}