<form class="user-form" (ngSubmit)="onSubmitForm()">
  <div class="input-group">
    <label for="firstName">First name</label>
    <input
      #nameInput
      id="firstName"
      name="firstName"
      type="text"
      [(ngModel)]="firstName"
    />
  </div>
  <div class="input-group">
    <label for="lastName">Last name</label>
    <input
      #nameInput
      id="lastName"
      name="lastName"
      type="text"
      [(ngModel)]="lastName"
    />
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input id="email" name="email" type="text" [(ngModel)]="email" />
  </div>
  <div class="input-group">
    <label for="phone">Phone</label>
    <input id="phone" name="phone" type="text" [(ngModel)]="phone" />
  </div>
  <div class="buttons-layout buttons-layout--reverse">
    <button type="submit">Save</button>
    <button type="button" (click)="close()">Cancel</button>
  </div>
</form>
