<form class="user-form" (ngSubmit)="onSubmitForm()">
  <app-input name="firstName" label="First name" [(ngModel)]="firstName" />
  <app-input name="lastName" label="Last name" [(ngModel)]="lastName" />
  <app-input name="email" label="Email" [(ngModel)]="email" />
  <app-input name="phone" label="Phone" [(ngModel)]="phone" />
  <app-input name="street" label="Street address" [(ngModel)]="street" />
  <app-input name="zipcode" label="Postal code" [(ngModel)]="zipcode" />
  <app-input name="city" label="City" [(ngModel)]="city" />

  <div class="buttons-layout buttons-layout--reverse">
    <button type="submit">Save</button>
    <button type="button" (click)="close()">Cancel</button>
  </div>
</form>
